
.card{
    display: inline-block;
    width: 33.3%;
    height: 300px;
}
.card:hover{
    background: ivory;
    border-radius: 50px;
}

.more-btn{
    margin-top: auto;
    margin-left: 40%;
    border: none;
    padding: 10px;
    background: burlywood;
}
.more-btn:hover{
    background: lightcoral;
 }

h4,h3{
    text-align: center;
    font-style: italic;
}

img{
    height: 65%;
    width: 50%;
    margin-left: 25%;
}
.tnx{
    width: 6%;
    margin-left: auto;
}