.App {
  text-align: center;
}


.home-page,.contact-page,.about-us-page{
  background-color: antiquewhite;
  height: 100%;
}
.home-h2{
  text-align: center;
  font-size: 30px;
  font-style: italic;
}
.home-text{
  text-align: center;
  font-size: 20px;
  color: darkgoldenrod;
}

.tnx-page{
  text-align: center;
}

a{
  color: black;
  margin-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 600;
}

a:hover{
  color: white;
}

.contact-h3{
  text-align: center;
}
.contact-form{
  display: table-caption;
  margin-left: 10%;
}
.contact-us{
  padding: 10px;
  border: none;
  color: white;
  font-weight: 600;
}
.customer-name{
  margin-left: 10px;
  padding: 5px;
  border: none;
}
.feedback{
  margin: 0px;
  width: 400px;
  height: 250px;
  resize: none;
}

.ex{
  width: 36%;
}
.ex-pic-2{
  margin-left: -15%;
}